body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    background-color: lightgray;
    width: 35vw;
    height: 70vh;
    border: 1px solid black;
    border-radius: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
h1{
    text-align: center;
}
#screen{
    height: 6rem;
    width: auto;
    background-color: white;
    border-radius: 1rem;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    font-size: 3rem;
}
#screen p{
    margin: 0;
    padding: 1rem .5rem;
}
.buttons{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 2rem;
}
.operators{
    width: calc(100% / 4);
    height: 100%;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 3%;
}
.operators button{
    background-color: yellow;
    border: 1px solid black;
    width: 100%;
    height: calc(88% / 5);
    border-radius: 1rem;
}
.numbers{
    flex-grow: 3;
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}
.numbers button{
    background-color: white;
    border: 1px solid black;
    width: calc(90% / 3);
    border-radius: 1rem;
}
#clear{
    background-color: red;
    color: white;
}
button{
    font-size: 2rem;
}